<%= provide(:title, "Sign Up As") %>
<%= render 'partials/static_pages_header' %>
<div class="container">
  <p class="i-am">I am a(n)...</p>
  <%= link_to "fan", new_fan_registration_path, class: "signup-text-left" %>
  <%= link_to "artist", new_artist_registration_path, class: "signup-text-right" %>
</div>
<%= render 'partials/static_pages_footer' %>
