<%= render "partials/static_pages_header" %>
<div class="container">
  <div class="landing-container">
    <div class="form-title">
      <h3>sign in as an artist</h3>
    </div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email, "email", class: "label" %>
        <%= f.text_field :email, autofocus: true, class: "text-field" %>
      </div>
      <div class="field">
        <%= f.label :password, "password", class: "label" %>
        <%= f.password_field :password, autocomplete: "off", class: "text-field" %>
      </div>
      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me, class: "check-box" %>
          <%= f.label :remember_me, "remember me?", class: "label" %>
        </div>
      <% end -%>
      <div class="actions">
        <%= f.submit "sign in", class: "submit-button"%>
      </div>
    <% end %>
    <div class="shared-links">
      <%= render "artists/shared/links" %>
    </div>
  </div>
</div>
<%= render "partials/static_pages_footer" %>
