<!DOCTYPE html>
<html>
<head>
      <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if artist_signed_in? %>
    <%=  render "artists/partials/signed_in_artists_header" %>
  <% elsif fan_signed_in? %>
    <%=  render "fans/partials/signed_in_fans_header" %>
  <% end %>
    <%= yield %>
</body>
</html>
